$link-color: rgba(0,0,0,0.2);
$link-hover: #248cec;
$header-height: 40px;
$params-fcolor: rgba(42,43,46,0.1);
$params-ff: 'Ubuntu', sans-serif;
$params-grey: #8a8a8a;
$params-dark: #2a2b2e;
$bg-news: #f7f7f7;
$topmenu-color: #2a2d32;
$border-color: #181a1d;
$link-over: #f4b60d;
$serv-color: #2A2D32;
$accordion-border: #e8e8e8;

// @mixin links-styles {
// 	color: #fff;
// 	font-family: 'Ubuntu Condensed', sans-serif;
// 	&:hover { color: $link-over; }
// }