<div class="news">
	<div class="wrapper clearfix">
		<div class="news--block">
			<h1>Latest News</h1>
			<div class="news--block__info">
				<p class="news--block__calendar"><span>jan</span><span>23</span></p>
				<img src="img/news1.jpg" alt=""></img>
				<div class="news--block__infotext">
					<a href="">Advanced Machinery Helps Improve Quality</a>
					<p>by <a class="news--nickname" href="">cmsmasters</a> Comments (<a class="news--comments" href="">6</a>)</p>
					<p>Cum sociis natoque penatibus et magnis dis parturient ontesmus. Pro vel nibh et elit mollis commodo et nec augueique Nemo enim ipsam voluptatem quia ptas sit aspernatur samomo enim ipsam voluptatem.</p>
				</div>
			</div>
				
			<div class="news--block__info">
				<p class="news--block__calendar"><span>jan</span><span>21</span></p>
				<img src="img/news2.jpg" alt=""></img>
				<div class="news--block__infotext">
					<a href="">Powerful Techniques for Advanced Service</a>
					<p>by <a class="news--nickname" href="">cmsmasters</a> Comments (<a class="news--comments" href="">3</a>)</p>
					<p>Cum sociis natoque penatibus et magnis dis parturient ontesmus. Pro vel nibh et elit mollis commodo et nec augueique Nemo enim ipsam voluptatem quia ptas sit aspernatur samomo enim ipsam voluptatem.</p>
				</div>

			</div>
		</div>

		<div class="news--block">
			<h1>Banners Place</h1>
			<div class="accordion--block accordion--block__opened">
				<div class="accordion--block__title"><span></span><p>accordion panel 1</p></div>
				<div class="accordion--block__text">
					<p>Cum sociis natoque penatibus et magnis dis parturient mus. Pro vel nibh et elit mollis commodo et nec augueique Nemo enim ipsam voluptatem quia ptas sit aspernatur momo. Cum sociis natoque penatibus et magnis dis parturient ontesmus. Nemo enim ipsam voluptatem quia ptas sit aspernatur samomoPro vel nibh et elit mollis commodo et nec augueique Nemo enim ipsam voluptatem quia ptas sit aspernatur samomo enim ipsam voluptatem.</p>
				</div>				
			</div>
			<div class="accordion--block">
				<div class="accordion--block__title"><span></span><p>accordion panel 2</p></div>
				<div class="accordion--block__text">
					<p>Cum sociis natoque penatibus et magnis dis parturient mus. Pro vel nibh et elit mollis commodo et nec augueique Nemo enim ipsam voluptatem quia ptas sit aspernatur momo. Cum sociis natoque penatibus et magnis dis parturient ontesmus. Nemo enim ipsam voluptatem quia ptas sit aspernatur samomoPro vel nibh et elit mollis commodo et nec augueique Nemo enim ipsam voluptatem quia ptas sit aspernatur samomo enim ipsam voluptatem.</p>
				</div>				
			</div>
			<div class="accordion--block">
				<div class="accordion--block__title"><span></span><p>accordion panel 3</p></div>
				<div class="accordion--block__text">
					<p>Cum sociis natoque penatibus et magnis dis parturient mus. Pro vel nibh et elit mollis commodo et nec augueique Nemo enim ipsam voluptatem quia ptas sit aspernatur momo. Cum sociis natoque penatibus et magnis dis parturient ontesmus. Nemo enim ipsam voluptatem quia ptas sit aspernatur samomoPro vel nibh et elit mollis commodo et nec augueique Nemo enim ipsam voluptatem quia ptas sit aspernatur samomo enim ipsam voluptatem.</p>
				</div>				
			</div>
			<div class="accordion--block">
				<div class="accordion--block__title"><span></span><p>accordion panel 4</p></div>
				<div class="accordion--block__text">
					<p>Cum sociis natoque penatibus et magnis dis parturient mus. Pro vel nibh et elit mollis commodo et nec augueique Nemo enim ipsam voluptatem quia ptas sit aspernatur momo. Cum sociis natoque penatibus et magnis dis parturient ontesmus. Nemo enim ipsam voluptatem quia ptas sit aspernatur samomoPro vel nibh et elit mollis commodo et nec augueique Nemo enim ipsam voluptatem quia ptas sit aspernatur samomo enim ipsam voluptatem.</p>
				</div>				
			</div>
		</div>
				

	</div>
</div>