<div class="services">
	<div class="wrapper">
		
		<h3>Our Services</h3>
		<div class="services--block__item">
			<div class="service-img">
				<p>+</p>
			</div>
			<a href="">Schedule Services</a>
		</div>
		<div class="services--block__item">
			<div class="service-img">
				<p>+</p>
			</div>
			<a href="">Preventive Maintence</a>
		</div>
		<div class="services--block__item">
			<div class="service-img">
				<p>+</p>
			</div>
			<a href="">Tire &amp; Wheel Services</a>
		</div>
		<div class="services--block__item">
			<div class="service-img">
				<p>+</p>
			</div>
			<a href="">Repair Services</a>
		</div>		
	</div>
</div>